**allure-results**
**allure-report**
venv

#Pycharm
**.idea
**idea
.idea

__pycache__/
functions/__pycache__

*.DS_Store*

.Python
env/
bin/
build/

#Vs code
*.code-workspace
.vscode/
*.vscode

.idea/mobile-poc.iml
